<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<th:block layout:fragment="content">
<!-- ================================
    START BREADCRUMB AREA
================================= -->
    <section class="breadcrumb-area breadcrumb-board">
        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content text-center">
                            <div class="section-heading">
                                <h2 class="sec__title text-white">EVENT</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end breadcrumb-wrap -->
        <div class="bread-svg-box">
            <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
        </div><!-- end bread-svg -->
    </section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START JOB-DETAILS AREA
================================= -->
<section class="job-details-area section--padding">
    <div class="container">
        <div class="row hwt-row-board">
            <div class="col-lg-8 col-board">

                <!-- Board Title -->
                <div class="form-box">
                    <div class="form-title-wrap hwt-board-title hwt-detail-title">
                        <div class="author-bio">
                            <h3 class="title hwt-details-bold" th:text="${eventDetailDTO.eventTitle}">게시글 제목</h3>
                        </div>
                        <div class="hwt-detail-date" th:text="${eventDetailDTO.date}">게시일</div>
                    </div><!-- form-title-wrap -->
                </div>

                <!-- Board Content -->
                <div class="form-box">

                    <div class="form-content contact-form-action hwt-details-content">
                        <th:block th:each="eventImageDTO : ${eventDetailDTO.eventImageList}">
                            <div>
                                <img th:src="@{|/images/hwt/event/${eventDetailDTO.eventNum}/${eventImageDTO.saveFileName}|}" class="event-images"/>
                            </div>
                        </th:block>
                    </div><!-- end form-content -->

                    <!-- Admin인 경우 -->
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <div class="form-bottom-wrap-admin">

                            <!-- Edit & Delete Button -->
                            <div class="hwt-details-bottom-left">
                                <a th:href="@{|/admin/event-edit/${eventDetailDTO.eventNum}|}" class="author__title detail-button-left">수정</a>
                                <a th:href="@{|/admin/event-delete/${eventDetailDTO.eventNum}|}" class="author__title">삭제</a>
                            </div>

                            <!-- List Button -->
                            <div class="hwt-details-bottom">
                                <a href="/event" class="author__title">목록</a>
                            </div>
                        </div><!-- form-bottom-wrap -->
                    </th:block>

                    <!-- Member인 경우 -->
                    <th:block sec:authorize="!hasRole('ADMIN')">

                        <!-- List Button -->
                        <div class="form-bottom-wrap">
                            <div class="hwt-details-bottom">
                                <a href="/event" class="author__title">목록</a>
                            </div>
                        </div><!-- form-bottom-wrap -->

                    </th:block>

                </div><!-- end form-box -->

                <!-- Comment List -->
                <div class="form-box">
                    <div class="form-title-wrap hwt-board-title hwt-detail-title">
                        <div class="comment-size">
                            <h3 class="hwt-details-bold" th:text="|댓글 ${comments.size}|">댓글 개수</h3>
                        </div>

                        <!-- Comment가 존재할 경우 -->
                        <th:block th:if="${!comments.isEmpty()}">
                            <th:block th:each="commentListDTO, i : ${eventDetailDTO.commentList}">

                                <!-- Comment Content -->
                                <div class="form-title-wrap hwt-board-title btn-comments-wrap">
<!--                                        <th:block sec:authorize="isAuthenticated()"-->
<!--                                            th:if="${#authentication.getPrincipal().getUsername() == commentListDTO.email} "access="hasRole('ADMIN')">-->

                                    <!-- 관리자인 경우, 모든 댓글의 수정, 삭제 버튼이 다 보임 -->
                                    <th:block sec:authorize="hasRole('ADMIN')">
                                        <div class="hwt-details-bottom-left btn-comments">
                                            <button type="button" class="btn-comment" data-toggle="collapse" th:data-target="|#form-edit${i.count}|">수정</button>
                                            <button type="button" class="btn-comment btn-comment-right"
                                                th:onclick="|comment.commentDelete('${eventDetailDTO.eventNum}', '${commentListDTO.commentNum}')|">삭제</button>
                                        </div>
                                    </th:block>

                                    <!-- 회원인 경우, 자기가 쓴 댓글의 수정, 삭제 버튼이 보임 -->
                                    <th:block sec:authorize="hasRole('MEMBER')" th:if="${#authentication.getPrincipal().getUsername() == commentListDTO.email}">
                                        <div class="hwt-details-bottom-left btn-comments">
                                            <button type="button" class="btn-comment" data-toggle="collapse" th:data-target="|#form-edit${i.count}|">수정</button>
                                            <button type="button" class="btn-comment btn-comment-right"
                                                th:onclick="|comment.commentDelete('${eventDetailDTO.eventNum}', '${commentListDTO.commentNum}')|">삭제</button>
                                        </div>
                                    </th:block>

                                    <div class="comment-nickname" th:text="${commentListDTO.nickname}">닉네임</div>
                                    <div class="comment-content" th:text="${commentListDTO.commentContent}">댓글 내용</div>
                                    <div class="comment-create" th:text="${#temporals.format(commentListDTO.commentCreate, 'yyyy.MM.dd. hh:mm')}">댓글 작성일</div>

                                    <!-- Comment Edit -->
                                    <form th:action="@{|/event/${eventDetailDTO.eventNum}/comments/${commentListDTO.commentNum}|}" method="post"
                                          th:object="${commentFormDTO}" class="collapse comment-edit-form" th:id="|form-edit${i.count}|">
                                        <input type="hidden" th:value="${eventDetailDTO.eventNum}" id="edit-eventNum">
                                        <input type="hidden" th:value="${commentListDTO.commentNum}" id="edit-commentNum">
                                        <div class="input-box comment-input-box">
                                            <div class="edit-label-btn">
                                                <th:block sec:authorize="isAuthenticated()">
                                                    <label class="label-text" th:text="${sessionDTO.nickname}">닉네임</label>
                                                </th:block>
                                                <div class="btn-box edit-box">
                                                    <button type="button" class="btn-comment" id="edit-comment">등록</button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <span class="la la-pencil form-icon comment-icon"></span>
                                                <textarea class="message-control form-control form-comments form-comments-edit"
                                                    th:value="${commentListDTO.commentContent}" id="edit-commentContent"></textarea>
                                            </div>
                                        </div>
                                    </form>

                                </div><!-- form-title-wrap -->
                            </sec:authorize>
                        </th:block>

                    </div>
                </div>

                <!-- Comment Form -->
                <div class="form-box">
                    <div class="form-content">
                        <div class="contact-form-action">
                            <div class="row">
                                <div class="col-lg-12">

                                    <!-- Comment Content -->
                                    <form th:action="@{|/event/${eventDetailDTO.eventNum}/comments|}" method="post" th:object="${commentFormDTO}">
                                        <input type="hidden" id="eventNum" th:value="${eventDetailDTO.eventNum}">
                                        <div class="input-box comment-input-box">
                                            <th:block sec:authorize="isAuthenticated()">
                                                <label class="label-text" th:text="${sessionDTO.nickname}">닉네임</label>
                                            </th:block>
                                            <th:block sec:authorize="!isAuthenticated()">
                                                <label class="label-text">비회원</label>
                                            </th:block>
                                            <div class="btn-box btn-comment-box">
                                                <button type="button" class="btn-comment" id="btn-comment-add">등록</button>
                                            </div>
                                            <div class="form-group">
                                                <span class="la la-pencil form-icon"></span>
                                                <th:block sec:authorize="isAuthenticated()">
                                                    <textarea class="message-control form-control form-comments"
                                                        th:value="*{commentContent}" id="commentContent" placeholder="댓글을 작성하세요."></textarea>
                                                </th:block>
                                                <th:block sec:authorize="!isAuthenticated()">
                                                    <textarea class="message-control form-control form-comments"
                                                        placeholder="로그인 후 이용할 수 있습니다." readonly></textarea>
                                                </th:block>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div><!-- end contact-form-action -->
                    </div><!-- end form-content -->
                </div><!-- end form-box -->

            </div><!-- end col-lg-8 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end job-details-area -->
<!-- ================================
    END JOB-DETAILS AREA
================================= -->

<!-- start back-to-top -->
<div id="back-to-top">
    <i class="la la-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

<!-- end modal-shared -->
<!-- 회원가입 모달 -->
<th:block th:replace="fragments/signUp::signUp"></th:block>


<!-- end modal-shared -->
<!-- 로그인 모달 -->
<th:block th:replace="fragments/signIn::signIn"></th:block>

</th:block>

<th:block layout:fragment="script">
    <script src="/js/hwt/event.js"></script>
</th:block>

</html>