// Board List
.hwt-board-list {
    cursor: pointer;
    padding: 20px 40px!important;
}

.hwt-row-faq {
    margin: 0 110px 0;
}

.event-images {
    width: -webkit-fill-available;
}

.hwt-faq-title {
    font-weight: 500;
}

.hwt-faq-content {
    margin-top: 10px;
    border-bottom: 0!important;
    padding-bottom: 0!important;
    
    span {
        white-space: pre-wrap;
    }
}

.hwt-faq-button {
    text-align: right;
}

.hwt-empty {
    margin: 30px 90px 70px;
    width: 100%;
    text-align: center;
}

.hwt-btn-more {
    width: 100%;
}

.faq-list-btn {
    text-align: right;
    padding: 50px 15px 0px !important;
}

// Add Board
.board-add-form {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 90px 0;
}

.hwt-col-post {
    flex: 0 0 100%;
    max-width: 100%;
}

.board-list-btn {
    text-align: right;
    padding: 20px 15px 50px!important;
}

.hwt-btn-submit {
    text-align: center;
    padding-top: 30px;
    width: 100%;
}

.hwt-btn-left {
    margin-right: 20pt;
}

.board-btn-white {
    color: #566578;
    border-color: #566578!important;
    background-color: #fff;
}

.board-btn-white:hover {
    color: #fff;
    border-color: #fff!important;
    background-color: #566578;
}

.board-add-title {
    font-size: 17px;
}

.board-add-text {
    font-size: 16px!important;
}

.board-add-select {
    font-size: 15px;
}

.hwt-board-form {
    padding-bottom: 130px;
}

.col-lg-faq {
    flex: 0 0 40%;
    max-width: 40%;
}

.error-message {
    color: red;
    font-size: 15px;
}

.event-box {
    box-shadow: none;
    border-color: rgba(128, 137, 150, 0.2);
}

.event-date {
    width: 40%;
}

.swal2-title {
    font-size: 14pt!important;
}

.swal2-show {
    width: 350px!important;
}

.swal2-confirm {
	background-color: #566578!important;
    font-size: 11pt!important;
}

.swal2-warning {
    margin: 0.1em auto 1.875em!important;
}

// Edit Board
.event-file {
    position: unset!important;
    text-align: left!important;
}

.event-remove{
    line-height: 28px;
    cursor: pointer;
    pointer-events: auto;
}

// FAQ Search
.board-search-wrap {
    display: flex;
}

.board-search {
    flex: 0 0 85%;
    max-width: 85%;
    padding-top: 2rem!important;
}

.search-reset {
    flex: 0 0 30%;
    max-width: 30%;
    padding-top: 2rem!important;
    font-size: 14px;
}

// Contact
.faq-column {
    display: flex;
    justify-content: center;
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding-right: 0;
    padding-left: 0;
}

.faq-box {
    width: 80%;
    a {
        margin: 10px;
        img {
            width: 120px;
        }
    }
}

// Event
.comment-size {
    margin-top: 10px;
    margin-bottom: 15px;

    h3 {
        color: #5d646d;
        font-size: 12pt;
    }
}

.comment-nickname {
    font-weight: 600;
    margin-bottom: 5pt;
}

.comment-content {
    margin-top: 0;
    margin-bottom: 5pt;
}

.comment-create {
    font-size: 10pt;
    color: #9ea5ae;
}

.btn-comments-wrap {
    padding: 20px 10px;
}

.btn-comments {
    position: absolute;
    right: 83px;
    font-size: 15px;
}

.comment-input-box {
    padding: 20px 30px;

    label {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

.form-comments {
    resize: none;
    height: 70px!important;
}

.btn-comment-box {
    position: absolute;
    right: 55px;
    top: 22px;
}

.btn-comment {
    border: none;
    background-color: unset;
    color: #566578;
    padding: 0;
    line-height: 0;
    font-size: 15px;
}

.btn-comment-right {
    padding-left: 20px;
}