<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<th:block layout:fragment="content">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>


    <!-- ================================
        START HERO-WRAPPER AREA
    ================================= -->
    <section class="hero-wrapper hero-wrapper2">
        <div class="hero-box pb-0 hwt-hero-box">
            <div id="fullscreen-slide-contain">
                <ul class="slides-container">
                    <li><img src="/images/hwt/busan.jpg" alt=""></li>
                    <li><img src="/images/hwt/yeosu.jpg" alt=""></li>
                    <li><img src="/images/hwt/gyeongju.jpg" alt=""></li>
                </ul>
            </div><!-- End background slider -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content pb-5">
                            <div class="section-heading">
                                <p class="sec__desc pb-2">호텔, 모텔, 펜션 예약</p>
                                <h2 class="sec__title">HOW ABOUT TODAY ?</h2>
                            </div>
                        </div><!-- end hero-content -->
                        <div class="search-fields-container hwt-search-container">
                            <div class="contact-form-action hwt-search">
                                <form id="searchForm" th:object="${searchForm}" class="row">
                                    <div class="col-lg-3 pr-0 hwt-search-element">
                                        <div class="input-box">
                                            <label class="label-text">카테고리</label>
                                            <div class="select-contain home-select-category">
                                                <select class="select-contain-select" id="categoryValue">
                                                    <th:block  th:each="category : ${accomCategorys}">
                                                    <option th:value="${category.name}" th:text="${category.viewName}">호텔</option>
                                                    </th:block>
                                                </select>
                                            </div><!-- end select-contain -->
                                        </div>
                                    </div><!-- end col-lg-3 -->
                                    <div class="col-lg-3 pr-0 hwt-search-element">
                                        <div class="input-box">
                                            <label class="label-text">체크인 - 체크아웃</label>
                                            <div class="form-group">
                                                <span class="la la-calendar form-icon"></span>
                                                <input class="date-picker-multiple form-control" type="text" name="daterange" th:field="*{daterange}" readonly>
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-3 -->
                                    <div class="col-lg-3 hwt-search-element2">
                                        <div class="input-box">
                                            <label class="label-text">인원수</label>
                                            <div class="form-group">
                                                <div class="dropdown dropdown-contain gty-container">
                                                    <a class="dropdown-toggle dropdown-btn" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                                        <span class="adult" data-text="성인" data-text-multi="성인">성인 0</span>
                                                        -
                                                        <span class="children" data-text="아동" data-text-multi="아동">아동 0</span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-wrap">
                                                        <!--                                                    <div class="dropdown-item">-->
                                                        <!--                                                        <div class="qty-box d-flex align-items-center justify-content-between">-->
                                                        <!--                                                            <label>Rooms</label>-->
                                                        <!--                                                            <div class="qtyBtn d-flex align-items-center">-->
                                                        <!--                                                                <div class="qtyDec"><i class="la la-minus"></i></div>-->
                                                        <!--                                                                <input type="text" name="room_number" value="0" class="qty-input">-->
                                                        <!--                                                                <div class="qtyInc"><i class="la la-plus"></i></div>-->
                                                        <!--                                                            </div>-->
                                                        <!--                                                        </div>-->
                                                        <!--                                                    </div>-->
                                                        <div class="dropdown-item">
                                                            <div class="qty-box d-flex align-items-center justify-content-between">
                                                                <label>성인</label>
                                                                <div class="qtyBtn d-flex align-items-center">
                                                                    <div id="qtyDec" class="qtyDec"><i class="la la-minus"></i></div>
                                                                    <input type="text" th:field="*{adult_number}">
                                                                    <div class="qtyInc"><i class="la la-plus"></i></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="dropdown-item">
                                                            <div class="qty-box d-flex align-items-center justify-content-between">
                                                                <label>아동</label>
                                                                <div class="qtyBtn d-flex align-items-center">
                                                                    <div class="qtyDec"><i class="la la-minus"></i></div>
                                                                    <input type="text" th:field="*{child_number}">
                                                                    <div class="qtyInc"><i class="la la-plus"></i></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- end dropdown -->
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-3 -->
                                </form>
                                <div class="btn-box pt-2 hwt-search-btn">
                                    <a th:href="|javascript:void(0)|" class="theme-btn hwt-btn-gray" th:onclick="searchSubmit()">검색</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
    </section><!-- end hero-wrapper -->
    <!-- ================================
        END HERO-WRAPPER AREA
    ================================= -->

    <div class="section-block"></div>

    <!-- ================================
        START INFO AREA
    ================================= -->
    <section class="info-area info-bg info-area2 padding-top-40px padding-bottom-60px hwt-info">
        <div class="container">
            <div class="row hwt-row-board">
                <div class="col-lg-12">
                    <div class="section-heading hwt-title">
                        <p class="sec__title">바로가기</p>
                    </div><!-- end section-heading -->
                </div><!-- end col-lg-12 -->
            </div>
            <div class="row hwt-row-icon">
                <div class="col-lg-3 responsive-column hwt-col-icon">
                    <div class="icon-box icon-layout-2 d-flex hwt-icon-layout">
                        <div class="hwt-iconbox-pointer">
                            <a href="/accom/hotel">
                                <div class="info-icon flex-shrink-0 bg-rgb text-color-2 hwt-info-icon">
                                    <!--                        <i class="las la-radiation"></i>-->
                                    <img src="/icon/hotel.png" class="hwt-icon-element">
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <!--                        <h4 class="info__title">Unique Atmosphere</h4>-->
                                    <p class="info__desc">호텔</p>
                                </div><!-- end info-content -->
                            </a>
                        </div>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column hwt-col-icon">
                    <div class="icon-box icon-layout-2 d-flex hwt-icon-layout">
                        <div class="hwt-iconbox-pointer">
                            <a href="/accom/motel">
                                <div class="info-icon flex-shrink-0 bg-rgb-2 text-color-3 hwt-info-icon">
                                    <!--                        <i class="la la-tree"></i>-->
                                    <img src="/icon/motel2.png" class="hwt-icon-element">
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <!--                        <h4 class="info__title">Environment</h4>-->
                                    <p class="info__desc">모텔</p>
                                </div><!-- end info-content -->
                            </a>
                        </div>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column hwt-col-icon">
                    <div class="icon-box icon-layout-2 d-flex hwt-icon-layout">
                        <div class="hwt-iconbox-pointer">
                            <a href="/accom/pension">
                                <div class="info-icon flex-shrink-0 bg-rgb-3 text-color-4 hwt-info-icon">
                                    <!--                        <i class="las la-map-marked-alt"></i>-->
                                    <img src="/icon/poolvilla.png" class="hwt-icon-element">
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <!--                        <h4 class="info__title">Great Location</h4>-->
                                    <p class="info__desc">펜션/풀빌라</p>
                                </div><!-- end info-content -->
                            </a>
                        </div>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column hwt-col-icon">
                    <div class="icon-box icon-layout-2 d-flex hwt-icon-layout">
                        <div class="hwt-iconbox-pointer">
                            <a href="/accom/guesthouse">
                                <div class="info-icon flex-shrink-0 bg-rgb-4 text-color-5 hwt-info-icon">
                                    <!--                        <i class="las la-bed"></i>-->
                                    <img src="/icon/hostel.png" class="hwt-icon-element">
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <!--                        <h4 class="info__title">Homey Comfort</h4>-->
                                    <p class="info__desc">게스트 하우스</p>
                                </div><!-- end info-content -->
                            </a>
                        </div>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-3 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end info-area -->
    <!-- ================================
        END INFO AREA
    ================================= -->

    <div class="section-block hwt-section-block"></div>

    <!-- ================================
        START INFO AREA 2
    ================================= -->
    <section class="info-area info-bg info-area2 padding-top-80px padding-bottom-45px hwt-info2">
        <div class="container">
            <div class="row hwt-row-icon">
                <div class="col-lg-3 responsive-column hwt-col-icon">
                    <div class="icon-box icon-layout-2 d-flex hwt-icon-layout">
                        <div class="hwt-iconbox-pointer">
                            <a href="notice">
                                <div class="info-icon flex-shrink-0 bg-rgb text-color-2 hwt-info-icon">
                                    <!--                        <i class="las la-radiation"></i>-->
                                    <img src="/icon/notice.png" class="hwt-icon-element">
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <!--                        <h4 class="info__title">Unique Atmosphere</h4>-->
                                    <p class="info__desc">공지사항</p>
                                </div><!-- end info-content -->
                            </a>
                        </div>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column hwt-col-icon">
                    <div class="icon-box icon-layout-2 d-flex hwt-icon-layout">
                        <div class="hwt-iconbox-pointer">
                            <a href="event">
                                <div class="info-icon flex-shrink-0 bg-rgb-2 text-color-3 hwt-info-icon">
                                    <!--                        <i class="la la-tree"></i>-->
                                    <img src="/icon/event.png" class="hwt-icon-element">
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <!--                        <h4 class="info__title">Environment</h4>-->
                                    <p class="info__desc">이벤트</p>
                                </div><!-- end info-content -->
                            </a>
                        </div>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column hwt-col-icon">
                    <div class="icon-box icon-layout-2 d-flex hwt-icon-layout">
                        <div class="hwt-iconbox-pointer">
                            <a href="faq">
                                <div class="info-icon flex-shrink-0 bg-rgb-3 text-color-4 hwt-info-icon">
                                    <!--                        <i class="las la-map-marked-alt"></i>-->
                                    <img src="/icon/faq.png" class="hwt-icon-element">
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <!--                        <h4 class="info__title">Great Location</h4>-->
                                    <p class="info__desc">FAQ</p>
                                </div><!-- end info-content -->
                            </a>
                        </div>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column hwt-col-icon">
                    <div class="icon-box icon-layout-2 d-flex hwt-icon-layout">
                        <div class="hwt-iconbox-pointer">
                            <a href="contact">
                                <div class="info-icon flex-shrink-0 bg-rgb-4 text-color-5 hwt-info-icon">
                                    <!--                        <i class="las la-bed"></i>-->
                                    <img src="/icon/contact.png" class="hwt-icon-element">
                                </div><!-- end info-icon-->
                                <div class="info-content">
                                    <!--                        <h4 class="info__title">Homey Comfort</h4>-->
                                    <p class="info__desc">고객센터</p>
                                </div><!-- end info-content -->
                            </a>
                        </div>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-3 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end info-area -->
    <!-- ================================
        END INFO AREA
    ================================= -->

    <div class="section-block"></div>

    <!-- ================================
        START HOTEL AREA 2
    ================================= -->
    <section class="hotel-area section-bg padding-top-100px padding-bottom-100px overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h2 class="sec__title line-height-55">인기있는 숙소</h2>
                    </div><!-- end section-heading -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
            <div class="row padding-top-50px">
                <div class="col-lg-12">
                    <div class="hotel-card-wrap">
                        <div class="hotel-card-carousel-2 carousel-action">
                            <th:block th:each="accom : ${pplAccoms}">
                            <div class="card-item">
                                <div class="card-img">
                                    <a th:href="@{/hotel-single(accomNum=${accom.accomNum})}" href="hotel-single.html" class="d-block">
                                        <img th:src="@{/data/images/{accomOriginFileName}(accomOriginFileName=${accom.accomOriginFileName})}" src="/images/img1.jpg" alt="hotel-img">
                                    </a>
                                    <th:block th:if="${accom.accomRating > 4.5}">
                                    <span class="badge">오늘어때 추천</span>
                                    </th:block>
                                    <th:block th:if="${accom.accomViewFacilities.size() >= 6}">
                                        <span class="badge badge-ribbon">시설좋은 숙소</span>
                                    </th:block>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title"><a th:href="@{/hotel-single(accomNum=${accom.accomNum})}" href="hotel-single.html" th:text="${accom.accomName}">숙소 이름</a></h3>
                                    <p class="card-meta" th:text="${accom.accomAddress}">숙소 주소</p>
                                    <div class="card-rating">
                                        <span class="badge text-white" th:text="${#numbers.formatDecimal(accom.accomRating, 1, 1)}">평점</span>&nbsp;

                                        <span class="rating__text" th:text="|${accom.totalReviewNum}개의 리뷰|">(30 Reviews)</span>
                                    </div>
                                    <div class="card-price d-flex align-items-center justify-content-between">
                                        <p>
                                            <span class="price__from">최소 가격 :</span>
                                            <span class="price__num" th:text="|${accom.lowPrice}원 ~|">숙소 가격</span>

                                        </p>
                                        <a th:href="@{/hotel-single(accomNum=${accom.accomNum})}" href="hotel-single.html" class="btn-text">방 정보<i class="la la-angle-right"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card-item -->
                            </th:block>

                        </div><!-- end hotel-card-carousel -->
                    </div>
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </section><!-- end hotel-area -->
    <!-- ================================
        END HOTEL AREA
    ================================= -->

    <!-- ================================
        START DESTINATION AREA
    ================================= -->
    <section class="destination-area padding-top-130px padding-bottom-80px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2 class="sec__title">인기 여행지</h2>
                    </div><!-- end section-heading -->
                </div><!-- end col-lg-8 -->
            </div><!-- end row -->
            <div class="row padding-top-50px">
                <div class="col-lg-4 responsive-column">
                    <div class="card-item destination-card destination--card">
                        <div class="card-img hwt-card-img">
                            <img src="/images/hwt/jeju.jpg" alt="destination-img">
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <div>
                                <h3 class="card-title hwt-card-title"><a href="/accom/ppl/17/">제주도</a></h3>
                            </div>
                            <div>
                                <a href="/accom/ppl/17/" class="theme-btn theme-btn-small border-0 hwt-btn-white-fix">
                                    숙소 조회 <i class="la la-arrow-right ml-1"></i></a>
                            </div>
                        </div>
                    </div><!-- end card-item -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 responsive-column">
                    <div class="card-item destination-card destination--card">
                        <div class="card-img hwt-card-img">
                            <img src="/images/hwt/busan.jpg" alt="destination-img">
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <div>
                                <h3 class="card-title hwt-card-title"><a href="/accom/ppl/2/">부산</a></h3>
                            </div>
                            <div>
                                <a href="/accom/ppl/2/" class="theme-btn theme-btn-small border-0 hwt-btn-white-fix">
                                    숙소 조회 <i class="la la-arrow-right ml-1"></i></a>
                            </div>
                        </div>
                    </div><!-- end card-item -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 responsive-column">
                    <div class="card-item destination-card destination--card">
                        <div class="card-img hwt-card-img">
                            <img src="/images/hwt/gangwon.jpg" alt="destination-img">
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <div>
                                <h3 class="card-title hwt-card-title"><a href="/accom/ppl/10">강원도</a></h3>
                            </div>
                            <div>
                                <a href="/accom/ppl/10" class="theme-btn theme-btn-small border-0 hwt-btn-white-fix">
                                    숙소 조회 <i class="la la-arrow-right ml-1"></i></a>
                            </div>
                        </div>
                    </div><!-- end card-item -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 responsive-column">
                    <div class="card-item destination-card destination--card">
                        <div class="card-img hwt-card-img">
                            <img src="/images/hwt/gyeongju.jpg" alt="destination-img">
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <div>
                                <h3 class="card-title hwt-card-title"><a href="/accom/ppl/15">경상북도</a></h3>
                            </div>
                            <div>
                                <a href="/accom/ppl/15" class="theme-btn theme-btn-small border-0 hwt-btn-white-fix">
                                    숙소 조회 <i class="la la-arrow-right ml-1"></i></a>
                            </div>
                        </div>
                    </div><!-- end card-item -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 responsive-column">
                    <div class="card-item destination-card destination--card">
                        <div class="card-img hwt-card-img">
                            <img src="/images/hwt/jeonju.jpg" alt="destination-img">
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <div>
                                <h3 class="card-title hwt-card-title"><a href="/accom/ppl/13">전라북도</a></h3>
                            </div>
                            <div>
                                <a href="/accom/ppl/13" class="theme-btn theme-btn-small border-0 hwt-btn-white-fix">
                                    숙소 조회 <i class="la la-arrow-right ml-1"></i></a>
                            </div>
                        </div>
                    </div><!-- end card-item -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 responsive-column">
                    <div class="card-item destination-card destination--card">
                        <div class="card-img">
                            <img src="/images/hwt/yeosu.jpg" alt="destination-img">
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <div>
                                <h3 class="card-title hwt-card-title"><a href="/accom/ppl/14">전라남도</a></h3>
                            </div>
                            <div>
                                <a href="/accom/ppl/14" class="theme-btn theme-btn-small border-0 hwt-btn-white-fix">
                                    숙소 조회 <i class="la la-arrow-right ml-1"></i></a>
                            </div>
                        </div>
                    </div><!-- end card-item -->
                </div><!-- end col-lg-4 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end destination-area -->
    <!-- ================================
        END DESTINATION AREA
    ================================= -->

    <!-- ================================
        START DISCOUNT AREA
    ================================= -->
    <section class="discount-area padding-top-120px padding-bottom-120px hwt-banner-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="discount-box hwt-banner">
                        <div class="discount-img">
                            <img src="i" alt="discount img">
                        </div><!-- end discount-img -->
                        <div class="discount-content hwt-banner-content-wrap">
                            <div class="section-heading">
                                <p class="sec__desc text-white">아직 회원이 아니신가요?</p>
                                <p class="sec__title mb-0 line-height-50 text-white hwt-banner-title">신규 회원을 위한 <br> 50% 할인 쿠폰</p>
                            </div><!-- end section-heading -->
                            <div class="btn-box pt-4 hwt-banner-content-btn">
                                <a href="#" id="memberJoin"  data-toggle="modal" data-target="#signupPopupForm" class="theme-btn border-0 hwt-btn-white">쿠폰 받기 <i class="la la-arrow-right ml-1"></i></a>
                            </div>
                        </div><!-- end discount-content -->
                        <!--                    <div class="company-logo">-->
                        <!--                        <img src="/images/logo2.png" alt="">-->
                        <!--                        <p class="text-white font-size-14 text-right">*Terms applied</p>-->
                        <!--                    </div>&lt;!&ndash; end company-logo &ndash;&gt;-->
                        <div class="logo">
                            <div class="menu-toggler">
                                <i class="la la-bars"></i>
                                <i class="la la-times"></i>
                            </div><!-- end menu-toggler -->
                        </div><!-- end logo -->
                    </div>
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end discount-area -->
    <!-- ================================
        END DISCOUNT AREA
    ================================= -->

    <div class="section-block"></div>

    <th:block th:replace="fragments/bottom-bar::bottom-bar"></th:block>
            <!-- start back-to-top -->
            <div id="back-to-top">
                <i class="la la-angle-up" title="Go top"></i>
            </div>
            <!-- end back-to-top -->

            <!-- end modal-shared -->
            <!-- 회원가입 모달 -->
            <th:block th:replace="fragments/signUp::signUp"></th:block>


            <!-- end modal-shared -->
            <!-- 로그인 모달 -->
            <th:block th:replace="fragments/signIn::signIn"></th:block>



    <script>
        $(document).ready(function(){

            let memberCheck = $("#memberCheck").val();
            let loginCheck = $("#loginCheck").val();


            if(memberCheck == "true"){
                $("#memberJoin").click();
            }

            if(loginCheck == "true"){
                $("#loginBtn").click();
            }



        })
        //성인이 0명이 안되게끔 검증하는 로직
        $("#qtyDec").on("click",function(){
          let adultValue = $("#adult_number").val();

          if(adultValue == 1){
              $("#adult_number").val(1);
              return false;
          }
        });

        function searchSubmit(){
            var searchForm = document.getElementById("searchForm")
            let category_name = $("#categoryValue").val();
            searchForm.action = '/accom/' + category_name
            searchForm.submit();


        }


         const header = $("meta[name='_csrf_header']").attr('content');
    const token = $("meta[name='_csrf']").attr('content');

    $('#checkEmail').on('click', function(){
        checkEmail();
    });

    function checkEmail(){
        const Email = $('#Email').val();
        // const sendEmail = document.forms["sendEmail"];

        if(!Email || Email.trim() === ""){
            alert("이메일을 입력하세요.");
        } else {
            $.ajax({
                type: 'GET',
                url: '/rest/checkEmail',
                data: {
                    'memberEmail': memberEmail
                },
                dataType: "text",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            }).done(function(result){
                console.log("result :" + result);
                if (result == "true") {
                    sendEmail();
                    alert('임시비밀번호를 전송 했습니다.');
                    window.location.href="/loginProc";
                } else if (result == "false") {
                    alert('가입되지 않은 이메일입니다.');
                }
            }).fail(function(error){
                alert(JSON.stringify(error));
            })
        }
    };

    function sendEmail(){
        const Email = $('#Email').val();

        $.ajax({
            type: 'POST',
            url: '/sendPwd',
            data: {
                'memberEmail' : memberEmail
            },
            beforeSend: function(xhr){
                xhr.setRequestHeader(header, token);
            },
            error: function(error){
                alert(JSON.stringify(error));
            }
        })
    };

 // 페이지 호출하자마자 tmpConsole() 실행
	$(document).ready(function(){
		$("#coupon").trigger('click');
		// 또는 $("#tmpBtn").click();
	});

	function tmpConsole(){
		console.log('test');	// test
	}


    </script>






</th:block>

</html>